<!-- <div class="footer-padding">
    <footer>
        <div class="contact-me">
            <h2>If you have any enquires feel free to <br><span>get in touch</span></h2>
        </div>
        <div class="button">
            <a href=""><button>Email us</button></a>
        </div>
        <div class="socials">
            <a href=""></a>
        </div>
    </footer>
</div> -->