<footer>
    <div class="socials">
        <p>Socials</p>
        <a href=""><h2>Instagram</h2></a>
    </div>
    <div class="contact-me">
        <p>Follow us</p>
        <h2>If you have <br> any enquires <br> feel free to <span>contact us.</span></h2>
        <a href=""><button>Conatct me</button></a>
    </div>
</footer>