<nav class="navbar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">JSFD</label>
    <ul>
        <li><a href="/index">Home</a></li>
       <li><a href="/wedding">Wedding</a></li>
       <li><a href="/funeral">Funeral</a></li>
       <li><a href="/bespoke">Bespoke</a></li>
    </ul>
</nav>