<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <div class="container">

        <div class="event-description">
            <h2>Bespoke</h2>
            <p>Lorem Ipsum has been awared to the upmost person who will be appearing from the stairs. Lorem Ipsum has not been jarred enough.</p>
        </div>
        <div class="breaker"></div>
        <div class="grid-3">
            <div class="b-photo-1 rellax"data-rellax-speed="0"data-rellax-percentage="0"></div>
            <div class="b-photo-2 rellax"data-rellax-speed="1"data-rellax-percentage="-.8"></div>
            <div class="b-photo-3 rellax"data-rellax-speed="-1"data-rellax-percentage="2.2"></div>
            <div class="b-photo-4 rellax"data-rellax-speed="1"data-rellax-percentage="-2"></div>
            <div class="b-photo-5 rellax"data-rellax-speed="-1"data-rellax-percentage="3"></div>
            <div class="b-photo-6 rellax"data-rellax-speed="2"data-rellax-percentage="-1.8"></div>
            <div class="b-photo-7 rellax"data-rellax-speed="-1"data-rellax-percentage="5"></div>
            <div class="b-photo-8 rellax"data-rellax-speed="5"data-rellax-percentage="-1.2"></div>
            <div class="b-photo-9 rellax"data-rellax-speed="1"data-rellax-percentage="0"></div>
        </div>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.js" integrity="sha512-qk0XupXlge1h9I63+bC7K8850xgWnUjTgSNkfLnsqc7dWdx4031UbKjKs2cuRxsNXymkSjyzSCiryVouU74zkg==" crossorigin="anonymous"></script>
    <script src="/parallax.js"></script>
</body>
</html>