<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <div class="container-title-para">
        <div class="title-para">
            <div class="header-1"><h2>Funeral Flowers</h2></div>
            <div class="para-1"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3></div>
        </div>
    </div>
    <div class="content-padding">
        <div class="grid-photo-layout-2">
            <div class="f-photo-1"></div>
            <div class="f-photo-2"></div>
            <div class="f-photo-3"></div>
            <div class="f-photo-4"></div>
            <div class="f-photo-5"></div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.js" integrity="sha512-qk0XupXlge1h9I63+bC7K8850xgWnUjTgSNkfLnsqc7dWdx4031UbKjKs2cuRxsNXymkSjyzSCiryVouU74zkg==" crossorigin="anonymous"></script>
    <script src="/parallax.js"></script>
</body>
</html>