<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/header.ejs')%>
    <section class="grid" id="home-top">
        <div class="home-page-slogan">
            <h2>Make your occasions special and memorable</h2>
        </div>
        <div class="home-top-photo">
            <!-- <img src="./images/home/top-photo-2.JPG" alt=""> -->
        </div>
        <div>
            <h3 class="third-heading">Who we are?</h3>
            <h5>
                JS Floral Designs is based in London. We source the highest quality flowers, ranging from traditional to exotic flowers. All our desings are handcrafted with thought and love. Contact us to arrange a consultation for weddings, funerals or contract work.
            </h5>
            <!-- <h4 class="bullet-point-1">Exotic Flowers</h4>
            <h4 class="bullet-point-2">Fairytale Weddings</h4>
            <h4 class="bullet-point-3">Equisite Designs</h4>
            <h4 class="bullet-point-4">Luxurious Flowers</h4>
            <h4 class="bullet-point-5">Range of Styling</h4>
            <h4 class="bullet-point-6">Creativity</h4> -->
        </div>
        <div>
            <img class="list-photo" src="./images/home/list-photo.JPG" alt="">
        </div>
    </section>
    <section class="grid" id="home-bottom">
        <div><h2>Take a look</h2></div>
        <div class="occasions">
            <img class="occasions-photo-1" src="./images/home/funeral.JPG" alt="">
            <h5 class="space-between">1.</h5>
            <h5 class="space-between">funeral designs</h5>
        </div>
        <div class="occasions">
            <img class="occasions-photo-2" src="./images/home/wedding.JPG" alt="">
            <h5 class="space-between">2.</h5>
            <h5 class="space-between">wedding designs</h5>
        </div>
        <div class="occasions">
            <img class="occasions-photo-3" src="./images/home/bespoke.JPG" alt="">
            <h5 class="space-between">3.</h5>
            <h5 class="space-between">bespoke designs</h5>
        </div>

    </section>


    <!-- <section class="grid" id="home-page">
        <div>
            <img src="./images/home/FuneralCard.png" alt="funeral">
        </div>
        <div>
            <img src="./images/home/WeddingCard.png" alt="wedding">
        </div>
        <div>
            <img src="./images/home/BespokeCard.png" alt="bespoke">
        </div>
        
        
    </section>
         -->
    <%- include('partials/footer.ejs') %> 
    
    

</body>
</html>