<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class="my-scroll">

    <%- include('./partials/header.ejs')%>

    <section class="home-banner"></section>

    <section class="slogan rellax" data-rellax-speed="-1">
        <h3>SED DO EIUSMOD TEMPOR</h3>
        <h3>Dlore, Fugiat eu Nulla</h3>
    </section>  
    <!-- <div class="rellax" data-rellax-speed="2"> -->
    <div class="content-padding">
            <a href="/wedding">
                <div class="grid-w">
                    <div class="w-link"></div>
                    <div class="text" id="t-1"><h2>Wedding <span>Designs</span></h2></div>
                </div>
            </a>
            <a href="/funeral">
                <div class="grid-f">
                    <div class="f-link"></div>
                    <div class="text" id="t-2"><h2>Funeral <span>Designs</span></h2></div>
                </div>
            </a>
            <a href="/bespoke">
                <div class="grid-b rellax" data-rellax-speed="1" data-rellax-percentage="0.8" >
                    <div class="b-link"></div>
                    <div class="text" id="t-3"><h2>Bespoke <span>Designs</span></h2></div>
                </div>
            </a>
    </div>        
    <%- include('partials/footer.ejs') %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.js" integrity="sha512-qk0XupXlge1h9I63+bC7K8850xgWnUjTgSNkfLnsqc7dWdx4031UbKjKs2cuRxsNXymkSjyzSCiryVouU74zkg==" crossorigin="anonymous"></script>
    <script src="/parallax.js"></script>
    

</body>
</html>