<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs')%>
        
    <div class="grid" id="services-top">
        <div>
            <h5>Wedding Designs</h5>
        </div>
        <div>
            <h2>We cater to all types of weddings, traditional and modern</h2>
        </div>
        <div>
            <h6>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
        </div>
    </div>
    
    <div class="grid" id="gallery-portrait">
        
        <div>
            <img src="./images/wedding/wedding-1.JPG" alt="">
        </div>
        <div>
            <img src="./images/wedding/wedding-2.JPG" alt="">
        </div>
        <div>
            <img src="./images/wedding/wedding-3.JPG" alt="">
        </div>
        <div>
            <img src="./images/wedding/wedding-4.JPG" alt="">
        </div>
        <div>
            <img src="./images/wedding/wedding-5.JPG" alt="">
        </div>
        <div>
            <img src="./images/wedding/wedding-6.JPG" alt="">
        </div>
        <div>
            <img src="./images/wedding/wedding-7.JPG" alt="">
        </div>
    </div>


    <%- include('partials/footer.ejs') %> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.js" integrity="sha512-qk0XupXlge1h9I63+bC7K8850xgWnUjTgSNkfLnsqc7dWdx4031UbKjKs2cuRxsNXymkSjyzSCiryVouU74zkg==" crossorigin="anonymous"></script>
    <script src="/parallax.js"></script>
</body>
</html>